 /* Style hero image */

 .heroCardContainer {
    margin: 0;
 }

 .heroCardHeader {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 5%;
    margin-top: 15%;
 }

 .heroCardText {
    font-weight: 800;
 }

 /* Style cardscontent */

 .cardContainer {
    position: relative;
    margin: 0;
}

.cardTop {
    position: absolute;
    top: 0;
    right: 0;
    width: 35%;
  }

  .priceSubtitle {
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    margin-right: 5px;
    margin-top: 3px;
    color: white;
  }


  .cardContent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  .cardSubContent {
    background-color: rgba(0, 0, 0, 0.5);
    padding-left: 5px;
    padding-bottom: 5px;
  }

  .cardTitle {
    font-size: 14px;
    color: white;
  }

  .cardSubTitle {
    font-size: 10px;
    color: white;
  }

  @media screen and (min-width: 768px) {

    /* Style hero section */

    .heroCardContainer {
        padding: 50px;
     }
     .heroCardHeader {
        margin-left: 15%;
        margin-top: 20%;
     }

     .heroCardText {
        font-weight: 800;
        font-size: 60px;
     }

     .hereSubCardText {
        font-size: 40px;
        color: white;
     }

     /* style cardcontent */

     .cardTitle {
        font-size: 18px;
        color: white;
      }

      .cardSubTitle {
        font-size: 14px;
        color: white;
      }




  }
