.cardContainer {
    position: relative;
    margin: 0;

}

  .cardContent {
    position: absolute;
    bottom: 0; /* Adjust as needed to position the content relative to the bottom */
    left: 0; /* Adjust as needed to position the content relative to the left */
    width: 100%;
  }

  .cardSubContent {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .cardTitle {
    font-size: 14px;
  }

  .cardSubTitle {
    font-size: 10px;
  }
